#main-container {
    width: 100%;
    background-color: #eee;
    padding: 10px 0;
}

#main-content {
    width: 80%;
    margin: auto; 
}

#about-me {
    display: grid;
    margin: 10px 0;
}

#about-me div {
    margin: 0 10px;
}

#about-me img {
    width: 100%;
    outline: 2.5px solid;
    outline-color: var(--green);
    box-shadow: 10px 5px 5px var(--darkgreen);
    border-radius: 10px;
}

#two-column-article {
    display: grid;
}

h1 {
    margin: 0;
}
h3 {
    margin: 0;
}

@media only screen and (max-width: 958px){
    #main-content {
        width: 90%; 
    }
        #about-me div {
        margin: 10px 0;
    }
}
  @media only screen and (min-width: 959px){
    #about-me {
        grid-template-columns: 1fr 2fr;
    }
   #two-column-article {
        grid-template-columns: 1fr 1fr;
   }
}