header {
    position: relative;    
    z-index: 1;
    display: block;
    height: 65px;
    width: 100%;
    background-color: #333;  
    margin: 0;
  }
  .navBar {
    line-height: 65px;   
    display: flex;
    align-content: center;
    justify-content: left;
    margin: 0;
    padding: 0 30px;

  }
  .a {
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  .active {
    background-color: var(--green);
  }
  .inactive {
    background-color: var(--darkgreen);
    transition: background-color 300ms linear 0s;
  }
  a.inactive:hover {
    background-color: var(--green);

  }
  .navBar a {
    padding: 0px 10px;
    text-decoration: none;
    color: black;
  }

