footer {
  z-index: 1;
  width: 95%;
  margin: 0;
  background-color: #333;
  color: #666;
  display: grid;
  gap: 10px;
  padding: 0 2.5%;

  div img {
    max-height: 20px ;
    margin-right: 5px;
  }

  div span {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }

  div hr {
    background-color: var(--green);
    border-color: var(--green);
    margin-right: 50px;
  }

  #button-container {
    display: flex;
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
  }

  .button {
    background-color: black;
    padding: 10px;
    margin-right: 7.5px;
    border-radius: 30px;
    transition: 150ms linear 0s;
    align-items: center;
    justify-content: center;
  }
  .button img {
    margin:0 ;
  }

  .button:hover {
    transform: scale(1.25);
  }
}
  @media only screen and (min-width: 959px){
    footer{
      grid-template-columns: 1fr 1fr;
    }
  }